<footer class="footer-region">
    <div class="footer">
        © 2014 Find Me Burritos <span class="divider">/</span> <a href="mailto:hello@miguelmota.com?subject=Find%20Me%20Burritos">Contact</a> <a class="footer-moogs-logo-container" href="http://www.miguelmota.com/" target="_blank"><img class="footer-moogs-logo" src="/public/system/assets/img/logos/moogs-logo-100x100.png" alt="Moogs"></a>
    <a class="hidden" href="https://plus.google.com/102174577273194387652" rel="author">Google+</a>
</div>
</footer>

{% for file in assets.js %}
    <script type="text/javascript" src="{{file}}"></script>
{% endfor %}

{% if (process.env.NODE_ENV == 'development') %}
    <!-- Livereload script rendered -->
    <script type="text/javascript" src="{{'http://' + req.host + ':35729/livereload.js'}}"></script>
{% endif %}

<script type="text/javascript" src="/modules/aggregated.js"></script>

